@model Javno.Models.ViewModels.ApartmentDetailsViewModel

@{

}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
    <style>
        .fa-star {
            color: rgba(112, 111, 111, 0.856);
        }

            .fa-star:hover {
                color: #e2334c;
            }

            .fa-star.selected {
                color: #001628;
            }
    </style>
</head>
<body>
  

    <div id="RepresentativeImage">
        @foreach (var picture in Model.Apartment.ApartmentPictures)
        {
            if (picture.IsRepresentative)
            {
        <p>
            OVO JE Reprezent
        </p> 
                <a class="fancy-photo"
                   rel="group"
                   href="@picture.Base64Content">
                    <img src="@picture.Base64Content" />
                </a>
            }
        }
    </div>
    <br /><br />

          <div id="RestOfImages">
              @foreach (var picture in Model.Apartment.ApartmentPictures)
              {
                if (!picture.IsRepresentative)
                {

                  <a class="fancy-photo"
                     rel="group"
                     href="@picture.Base64Content">
                      <img src="@picture.Base64Content" />
                  </a>
                }
              }


          </div>


    <div class="fancy-text" href="#moreInfo" onclick="void (0);">
        Some info
    </div>

    <div id="moreInfo" style="display: none">
        My awesome text
    </div>

    <div>
        <h4>Apartment</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Apartment.Guid)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Apartment.Guid)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Apartment.CreatedAt)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Apartment.CreatedAt)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Apartment.DeletedAt)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Apartment.DeletedAt)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Apartment.OwnerId)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Apartment.OwnerId)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Apartment.OwnerName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Apartment.OwnerName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Apartment.TypeId)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Apartment.TypeId)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Apartment.StatusId)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Apartment.StatusId)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Apartment.StatusName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Apartment.StatusName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Apartment.CityId)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Apartment.CityId)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Apartment.CityName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Apartment.CityName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Apartment.Address)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Apartment.Address)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Apartment.Name)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Apartment.Name)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Apartment.Price)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Apartment.Price)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Apartment.MaxAdults)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Apartment.MaxAdults)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Apartment.MaxChildren)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Apartment.MaxChildren)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Apartment.TotalRooms)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Apartment.TotalRooms)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Apartment.BeachDistance)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Apartment.BeachDistance)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Apartment.Tags)
            </dt>
            @foreach (var tag in Model.Apartment.Tags)
            {
                <dd>
                    @tag.Name
                </dd>
            }
            <dt>
                @Html.DisplayNameFor(model => model.Apartment.ApartmentReviews)
            </dt>
            @foreach (var review in Model.Apartment.ApartmentReviews)
            {
                <dd>
                    <span>
                        @review.CreatedAt ,  @review.Username , @review.Stars
                    </span>
                    <p>@review.Details</p>
                </dd>
            }


            @if (!String.IsNullOrWhiteSpace(User.Identity.Name))
            {

                <dd>

                    <div class="form-group">
                        <label for="exampleFormControlSelect1">Rating</label>
                        <input type="hidden" id="ratingHid" name="rating" value="-1">
                        <div class="rating">
                            <i class="ratings_stars fa fa-star" data-rating="1"></i>
                            <i class="ratings_stars fa fa-star" data-rating="2"></i>
                            <i class="ratings_stars fa fa-star" data-rating="3"></i>
                            <i class="ratings_stars fa fa-star" data-rating="4"></i>
                            <i class="ratings_stars fa fa-star" data-rating="5"></i>
                        </div>


                    </div>

                    <div class="form-group">
                        <label for="exampleFormControlTextarea1">Details:</label>
                        <textarea class="form-control" id="reviewDetails" rows="3"></textarea>
                    </div>
                    <div class="g-recaptcha"
                         data-sitekey="6LfI9XYhAAAAAN_XhWtifbM4a0e_kYxVTpAToSQu"></div>
                    <button type="submit" data-id="@Model.Apartment.Id" id="btnSubmitReview" class="btn btn-primary" onclick="submitReview()">Submit</button>

                </dd>
            }
            <dd>

                <form>

                    <div class="form-group">
                        <label for="nameInput">Name</label>
                        <input type="text" class="form-control" id="nameInput" value=@Model.User.UserName required>
                    </div>
                    <div class="form-group">
                        <label for="emailInput">Email address</label>
                        <input type="email" class="form-control" id="emailInput" value=@Model.User.Email required>
                    </div>
                    <div class="form-group">
                        <label for="phoneInput">Phone</label>
                        <input type="text" class="form-control" id="phoneInput" required value=@Model.User.PhoneNumber>
                    </div>
                    <div class="form-group">
                        <label for="addressInput">Address</label>
                        <input type="text" class="form-control" id="addressInput" value=@Model.User.Address>
                    </div>
                    <div class="form-group">
                        <label for="detailsInput">Details:</label>
                        <textarea class="form-control" id="detailsInput" rows="3" placeholder="" required></textarea>
                        <small id="emailHelp" class="form-text text-muted"> Molim vas navedite:broj ljudi,datume dolaska i datume odlaska za rezervaciju</small>

                    </div>
                    <div id="dvCaptcha">
                    </div>
                    <input type="hidden" id="hfCaptcha" />
                    <span id="rfvCaptcha" class="error" style="display:none">Captcha validation is required.</span>
                    <div class="alert alert-danger" role="alert" id="ReservationAlertMessage" style="display:@ViewBag.CapthaShowError" runat="server">
                        Captcha validation is required.Captcha was not checked.Please try again.
                    </div>
                    <button type="submit" data-id="@Model.Apartment.Id" id="reservationSubmit" onclick="submitReservation()">Submit</button>
                </form>

            </dd>


            @section Scripts
{
                <script type="text/javascript" src="/scripts/jquery.fancybox.pack.js"></script>

                <script type="text/javascript" src="https://www.google.com/recaptcha/api.js?onload=onloadCallback&render=explicit"
                        async defer>
                </script>

                <script type="text/javascript">
                     function onloadCallback() {
            grecaptcha.render('dvCaptcha', {
                'sitekey': '6LfI9XYhAAAAAN_XhWtifbM4a0e_kYxVTpAToSQu',
                'callback': function (response) {
                    $.ajax({
                        type: "POST",
                        url: "/Apartments/AjaxMethod",
                        data: "{response: '" + response + "'}",
                        contentType: "application/json; charset=utf-8",
                        dataType: "json",
                        success: function (r) {
                            console.log(r);
                            var captchaResponse = jQuery.parseJSON(r);
                            if (captchaResponse.success) {
                                $("#hfCaptcha").val(captchaResponse.success);
                                $("#rfvCaptcha").hide();
                            } else {
                                alert("fail");
                                $("#hfCaptcha").val("");
                                $("#rfvCaptcha").show();
                                var error = captchaResponse["error-codes"][0];
                                $("#rfvCaptcha").html("RECaptcha error. " + error);
                            }
                        }
                    });
                }
            });
        };


                    $(document).ready(function () {
                        //todo remove unnedeed code
                       // loadImages();
                        addFancyBox();
                    });

                    $('.rating').on('click', '.ratings_stars', function () {
                        var star = $(this)
                        star.addClass('selected')
                        star.prevAll().addClass('selected')
                        star.nextAll().removeClass('selected')
                        $('#ratingHid').val(star.data('rating'))
                    });
                   

                    function loadImages() {
                        $.ajax({
                type: 'get',
                url: '@Url.Action("loadApartmentImages")',
                            dataType: 'json',
                            data: { apartmentId:1},
                            success: function (data) {
                    $('#RestOfImages').empty();

                    var items = '';
                    $.each(data, function (i, item) {
                        //ap += "href='/apartments/Picture?path=" + item.Path + "'>";
                        var ap = "<a  data-fancybox='gallery'  data-src='/apartments/Picture?path=" + item.Path + "' data-caption='Optional caption,&lt;br /&gt;that can contain &lt;em&gt;HTML&lt;/em&gt; code'>";
                        ap += "<img src ='/apartments/Picture?path=" + item.Path+"'/></a> "


                       // var ap = " <a class='fancy-photo' rel='group' ";
                        //ap += "href='/apartments/Picture?path=" + item.Path + "'>";
                        //ap += "<img src='/apartments/Picture?path=" + item.Path + "' /> </a>";


                        /*  <a class="fancy-photo"
                            rel="group"
                            href="data:image/png;base64,/Z">
                            <img src="data:image/png;base64,/9j/4A" />
                        </a>*/
                        /*
                         <a
  data-fancybox="gallery"
  data-src="https://lipsum.app/id/2/1024x768"
  data-caption="Optional caption,&lt;br /&gt;that can contain &lt;em&gt;HTML&lt;/em&gt; code"
>
  <img src="https://lipsum.app/id/2/200x150" />
</a> */



                        $('#RestOfImages').append(ap);
                    });
                },
                            error: function (ex) {
                    alert("error");

                    var r = jQuery.parseJSON(response.responseText);
                    alert("Message: " + r.Message);
                    alert("StackTrace: " + r.StackTrace);
                    alert("ExceptionType: " + r.ExceptionType);
                }
                        });
                        //fancybox
                        addFancyBox();

                    }
                    function addFancyBox() {
                        $(".fancy-text").fancybox();
                        $(".fancy-photo").fancybox({
                            cyclic: true,
                            onUpdate: function () {
                                $(".fancybox-nav span").css({
                                    visibility: "visible"
                                });
                                return;
                            },
                            afterClose: function () {
                                $(".fancybox-nav span").css({
                                    visibility: "hidden"
                                });
                                return;
                            }
                        });
                    }

                    function submitReservation() {
                        var nameVal = $('#nameInput').val();
                        var emailVal = $('#emailInput').val();
                        var phoneVal = $('#phoneInput').val();
                        var detailsVal = $('#detailsInput').val();
                        var addressVal = $('#addressInput').val();
                        var apartmentIdVal = $('#reservationSubmit').data("id");
                        if (grecaptcha.getResponse() == "") {
                            //throw error to fill in captcha
                            $("#rfvCaptcha").val("RECaptcha error. ");
                            return;
                        } else {
                             $.ajax({
            type: 'POST',
            url: '@Url.Action("createApartmentReservation")',
                             dataType: 'json',
                                 data: { name: nameVal, email: emailVal, phone: phoneVal, details: detailsVal, apartmentId: apartmentIdVal, address: addressVal },
                                 success: function () {
                                     console.log("success");
            },
            error: function (ex) {
                var r = jQuery.parseJSON(response.responseText);
                console.log("failed");


                alert("Message: " + r.Message);
                alert("StackTrace: " + r.StackTrace);
                alert("ExceptionType: " + r.ExceptionType);
            }
        });
                        }


        return false;

                    }
                    //origigi Submit
                    function submitReview() {
                        var ratingVal = $('#ratingHid').val();
                        var details = $('#reviewDetails').val();
                        var apID = $('#btnSubmitReview').data("id");
                //empty input values at end
               // var ratingVal=
       // $("#tblStudent tbody tr").remove();
        $.ajax({
            type: 'POST',
            url: '@Url.Action("createApartmentReview")',
            dataType: 'json',
            data: { rating: ratingVal, reviewDetails: details, apartmentId: apID },
            success: function () {

            },
            error: function (ex) {
                var r = jQuery.parseJSON(response.responseText);
                alert("Message: " + r.Message);
                alert("StackTrace: " + r.StackTrace);
                alert("ExceptionType: " + r.ExceptionType);
            }
        });
                        location.reload(true);
    }
                </script>
            }

        </dl>
    </div>
    <p>
        @Html.ActionLink("Back to List", "Index")
    </p>
</body>
</html>
