@model Javno.Models.ViewModels.ApartmentDetailsViewModel

@{

}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
    <style>
        .reviewSubmitStar.fa-star {
            color: rgba(112, 111, 111, 0.856);
        }
        .fa-star {
            color: #e2334c;
        }

        .reviewSubmitStar.fa-star:hover {
            color: #e2334c;
        }

            .fa-star.selected {
                color: #e2334c;
            }
        #ContentHolder {
            width: 80%;
        }
        #RepImg{
            min-width:350px;
            max-width:450px;
            max-height:500px;
            min-height:350px;
        }
        #apartmentDetailsList {
            display: flex;
            flex-direction: column;
            align-items: baseline;
            flex-grow: 1;
        }
        #colDetails{
           margin-top:70px;

        }
        #apartmentDetailsList > li {
            font-size: 1.7rem;
            font-weight: bold;
            margin-bottom: 6px;
            vertical-align: middle;
            line-height: 40px;
        }
        #apartmentDetailsList >li:not(:first-of-type) {
        }
        span{
            margin:3px;
        }
        .TitleStar {
            font-size: 0.55em;
            vertical-align: baseline;
        }
        #ApartmentRatingsStars {
            margin-right: 50px;
        }

    </style>
</head>
<body>

    <div class="row">
        <div class="col-lg-3">
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4">
            <h1>
                @Model.Apartment.Name
                        <div class="pull-right" id="ApartmentRatingsStars">
                            @for (int i = 0; i < Model.Rating.Value; i++)
                            {
                                <i class='fa fa-star TitleStar'></i>
                            }
                            @for (int i = Model.Rating.Value; i < 5; i++)
                            {
                                <i class='fa fa-star-o TitleStar'></i>
                            }
                        </div>
                    </h1>
           
            <div id="RepresentativeImage">
                @foreach (var picture in Model.Apartment.ApartmentPictures)
                {
                    if (picture.IsRepresentative)
                    {
                        <a class="fancy-photo"
                           rel="group"
                           href="@picture.Base64Content">
                            <img src="@picture.Base64Content" class="img-thumbnail" width="500px" id="RepImg" />
                        </a>
                    }
                }
                <hr />
                <div id="RestOfImages">
                    @foreach (var picture in Model.Apartment.ApartmentPictures)
                    {
                        if (!picture.IsRepresentative)
                        {

                            <a class="fancy-photo"
                               rel="group"
                               href="@picture.Base64Content">
                                <img src="@picture.Base64Content" class="img-rounded" height="140px" id="NonRepImg" />
                            </a>
                        }
                    }


                </div>

            </div>

        </div>
        <div class="col-lg-2 " id="colDetails">
            <ul id="apartmentDetailsList" class="my-auto">

                <li>@Model.Apartment.CityName , @Model.Apartment.Address</li>
                <li>Total rooms: @Model.Apartment.TotalRooms</li>
                <li>Owner: @Model.Apartment.OwnerName</li>
                <li>Max adults: @Model.Apartment.MaxAdults</li>
                <li>Max children: @Model.Apartment.MaxChildren</li>
                <li>Beach distance: @Model.Apartment.BeachDistance m</li>
                <li>
                    Tags:<br />
                    @foreach (var tag in Model.Apartment.Tags)
                    {
                        <span class="label label-info">@tag.Name </span>

                    }
                </li>

            </ul>
            <h2>
                @String.Format("{0:0.##}", Model.Apartment.Price)kn
            </h2>
        </div>
        <div class="col-lg-4 col-md-offset-2">
            <h3>Reservation</h3>
            <form class="thumbnail">

                <div class="form-group">
                    <label for="nameInput">Name</label>
                    <input type="text" class="form-control" id="nameInput" value=@Model.UserName required>
                </div>
                <div class="form-group">
                    <label for="emailInput">Email address</label>
                    <input type="email" class="form-control" id="emailInput" value=@Model.UserEmail required>
                </div>
                <div class="form-group">
                    <label for="phoneInput">Phone</label>
                    <input type="text" class="form-control" id="phoneInput" required value=@Model.UserPhoneNumber>
                </div>
                <div class="form-group">
                    <label for="addressInput">Address</label>
                    <input type="text" class="form-control" id="addressInput" value=@Model.UserAddress>
                </div>
                <div class="form-group">
                    <label for="detailsInput">Details:</label>
                    <textarea class="form-control" id="detailsInput" rows="3" placeholder="" required></textarea>
                    <small id="emailHelp" class="form-text text-muted"> Molim vas navedite:broj ljudi,datume dolaska i datume odlaska za rezervaciju</small>

                </div>
                @if (String.IsNullOrWhiteSpace(User.Identity.Name))
                {
                    <div id="dvCaptcha">
                    </div>
                    <input type="hidden" id="hfCaptcha" />
                    <span id="rfvCaptcha" class="error" style="display:none">Captcha validation is required.</span>
                    <div class="alert alert-danger" role="alert" id="ReservationAlertMessage" style="display:@ViewBag.CapthaShowError" runat="server">
                        Captcha validation is required.Captcha was not checked.Please try again.
                    </div>
                }
                    <button type="submit" data-id="@Model.Apartment.Id" id="reservationSubmit" onclick="submitReservation()">Submit</button>
                </form>

        </div>
    </div>
    <div class="row">
        <div class="col-lg-7 col-md-offset-2">
            <div class="comment-wrapper">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        Reviews
                    </div>
                    <div class="panel-body">
                        @if (!String.IsNullOrWhiteSpace(User.Identity.Name))
                        {
                            <div id="ReviewForm">
                                <div class="form-group" id="ratingValueDiv">
                                    <label>Rating</label>
                                    <input type="hidden" id="ratingHid" name="rating" value="-1">
                                    <div class="rating">
                                        <i class="ratings_stars fa fa-star reviewSubmitStar" data-rating="1"></i>
                                        <i class="ratings_stars fa fa-star reviewSubmitStar" data-rating="2"></i>
                                        <i class="ratings_stars fa fa-star reviewSubmitStar" data-rating="3"></i>
                                        <i class="ratings_stars fa fa-star reviewSubmitStar" data-rating="4"></i>
                                        <i class="ratings_stars fa fa-star reviewSubmitStar" data-rating="5"></i>
                                    </div>
                                    <span class="help-block" id="reviewErrorMessage" style="display:none">Select a rating for your review</span>


                                </div>

                                <div class="form-group">
                                    <label for="exampleFormControlTextarea1">Details</label>
                                    <textarea class="form-control" id="reviewDetails" rows="3"></textarea>
                                </div>
                                <div class="g-recaptcha"
                                     data-sitekey="6LfI9XYhAAAAAN_XhWtifbM4a0e_kYxVTpAToSQu"></div>
                                <button type="submit" data-id="@Model.Apartment.Id" id="btnSubmitReview" class="btn btn-primary" onclick="submitReview()">Submit</button>

                            </div>
                        }
                            <hr>
                            <ul class="media-list">
                                @foreach (var review in Model.Apartment.ApartmentReviews)
                                {
                                <li class="media">
                                    <div  class="pull-left">
                                        @for (int i = 0; i < review.Stars; i++)
                                        {
                                            <i class='fa fa-star '></i>
                                        }
                                        @for (int i = review.Stars; i < 5; i++)
                                        {
                                            <i class='fa fa-star-o '></i>
                                        }
                                    </div>
                                    <div class="media-body">
                                        <span class="text-muted pull-right">
                                            <small class="text-muted">@review.CreatedAt</small>
                                        </span>
                                        <strong class="text-success">@review.Username</strong>
                                        <p>
                                           @review.Details
                                        </p>
                                    </div>
                                </li>
                                
                                }
                            </ul>
                        </div>
                </div>
            </div>

        </div>
        </div>



            

                    @section Scripts
{
                        <script type="text/javascript" src="/scripts/jquery.fancybox.pack.js"></script>

                        <script type="text/javascript" src="https://www.google.com/recaptcha/api.js?onload=onloadCallback&render=explicit"
                                async defer>
                        </script>

                        <script type="text/javascript">
                     function onloadCallback() {
            grecaptcha.render('dvCaptcha', {
                'sitekey': '6LfI9XYhAAAAAN_XhWtifbM4a0e_kYxVTpAToSQu',
                'callback': function (response) {
                    $.ajax({
                        type: "POST",
                        url: "/Apartments/AjaxMethod",
                        data: "{response: '" + response + "'}",
                        contentType: "application/json; charset=utf-8",
                        dataType: "json",
                        success: function (r) {
                            console.log(r);
                            var captchaResponse = jQuery.parseJSON(r);
                            if (captchaResponse.success) {
                                $("#hfCaptcha").val(captchaResponse.success);
                                $("#rfvCaptcha").hide();
                            } else {
                                alert("fail");
                                $("#hfCaptcha").val("");
                                $("#rfvCaptcha").show();
                                var error = captchaResponse["error-codes"][0];
                                $("#rfvCaptcha").html("RECaptcha error. " + error);
                            }
                        }
                    });
                }
            });
        };


                    $(document).ready(function () {
                        //todo remove unnedeed code
                       // loadImages();
                        addFancyBox();
                    });

                    $('.rating').on('click', '.ratings_stars', function () {
                        var star = $(this)
                        star.addClass('selected')
                        star.prevAll().addClass('selected')
                        star.nextAll().removeClass('selected')
                        $('#ratingHid').val(star.data('rating'))
                    });


                    function loadImages() {
                        $.ajax({
                type: 'get',
                url: '@Url.Action("loadApartmentImages")',
                            dataType: 'json',
                            data: { apartmentId:1},
                            success: function (data) {
                    $('#RestOfImages').empty();

                    var items = '';
                    $.each(data, function (i, item) {
                        //ap += "href='/apartments/Picture?path=" + item.Path + "'>";
                        var ap = "<a  data-fancybox='gallery'  data-src='/apartments/Picture?path=" + item.Path + "' data-caption='Optional caption,&lt;br /&gt;that can contain &lt;em&gt;HTML&lt;/em&gt; code'>";
                        ap += "<img src ='/apartments/Picture?path=" + item.Path+"'/></a> "


                       // var ap = " <a class='fancy-photo' rel='group' ";
                        //ap += "href='/apartments/Picture?path=" + item.Path + "'>";
                        //ap += "<img src='/apartments/Picture?path=" + item.Path + "' /> </a>";


                        /*  <a class="fancy-photo"
                            rel="group"
                            href="data:image/png;base64,/Z">
                            <img src="data:image/png;base64,/9j/4A" />
                        </a>*/
                        /*
                         <a
  data-fancybox="gallery"
  data-src="https://lipsum.app/id/2/1024x768"
  data-caption="Optional caption,&lt;br /&gt;that can contain &lt;em&gt;HTML&lt;/em&gt; code"
>
  <img src="https://lipsum.app/id/2/200x150" />
</a> */



                        $('#RestOfImages').append(ap);
                    });
                },
                            error: function (ex) {
                    alert("error");

                    var r = jQuery.parseJSON(response.responseText);
                    alert("Message: " + r.Message);
                    alert("StackTrace: " + r.StackTrace);
                    alert("ExceptionType: " + r.ExceptionType);
                }
                        });
                        //fancybox
                        addFancyBox();

                    }
                    function addFancyBox() {
                        $(".fancy-text").fancybox();
                        $(".fancy-photo").fancybox({
                            cyclic: true,
                            onUpdate: function () {
                                $(".fancybox-nav span").css({
                                    visibility: "visible"
                                });
                                return;
                            },
                            afterClose: function () {
                                $(".fancybox-nav span").css({
                                    visibility: "hidden"
                                });
                                return;
                            }
                        });
                    }

                    function submitReservation() {
                        var nameVal = $('#nameInput').val();
                        var emailVal = $('#emailInput').val();
                        var phoneVal = $('#phoneInput').val();
                        var detailsVal = $('#detailsInput').val();
                        var addressVal = $('#addressInput').val();
                        var apartmentIdVal = $('#reservationSubmit').data("id");
                        if (grecaptcha.getResponse() == "") {
                            //throw error to fill in captcha
                            $("#rfvCaptcha").val("RECaptcha error. ");
                            return;
                        } else {
                             $.ajax({
            type: 'POST',
            url: '@Url.Action("createApartmentReservation")',
                             dataType: 'json',
                                 data: { name: nameVal, email: emailVal, phone: phoneVal, details: detailsVal, apartmentId: apartmentIdVal, address: addressVal },
                                 success: function () {
                                     console.log("success");
            },
            error: function (ex) {
                var r = jQuery.parseJSON(response.responseText);
                console.log("failed");


                alert("Message: " + r.Message);
                alert("StackTrace: " + r.StackTrace);
                alert("ExceptionType: " + r.ExceptionType);
            }
        });
                        }


        return false;

                    }
                    //origigi Submit
                    function submitReview() {
                        var ratingVal = $('#ratingHid').val();
                        var details = $('#reviewDetails').val();
                        var apID = $('#btnSubmitReview').data("id");

                        if (ratingVal < 1) {
                            $("#ratingValueDiv").addClass("has-error");
                            $("#reviewErrorMessage").show();
                            return;
                        }
        $.ajax({
            type: 'POST',
            url: '@Url.Action("createApartmentReview")',
            dataType: 'json',
            data: { rating: ratingVal, reviewDetails: details, apartmentId: apID },
            success: function () {

            },
            error: function (ex) {
                var r = jQuery.parseJSON(response.responseText);
                alert("Message: " + r.Message);
                alert("StackTrace: " + r.StackTrace);
                alert("ExceptionType: " + r.ExceptionType);
            }
        });
                        location.reload(true);
    }
                        </script>
                    }

                </dl>
            </div>
            <p>
                @Html.ActionLink("Back to List", "Index")
            </p>
</body>
</html>
